.card {
  flex: 1 1 15rem; /* O card vai ocupar ao menos 15rem de largura e crescer se houver espaço */
  height: auto; /* Ajusta a altura automaticamente conforme o conteúdo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 0.4rem;
  margin: 0.7rem 0.4rem;
  padding: 0rem 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nome {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.2rem;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
  color: #373774;
}

.card-title {
  display: flex;
  justify-content: start;
}

.card-subtitle {
  display: flex;
  justify-content: start;
  font-weight: bold;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #4c4c4c;
  height: 20%;
  font-weight: bold;
}

.carro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%; /* Ajuste conforme necessário */
}

.carro {
  width: 15rem;
  height: 12rem;
  object-fit: contain; /* Para garantir que a imagem seja redimensionada corretamente */
}
