.image-container {
  position: relative;
  width: 100%;
}

.carros-container {
  margin-bottom: 6rem;
}

.destaques {
  font-size: 3rem;
  margin-top: 4rem;
  margin-left: 6rem;
  font-weight: bold;
}
