.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.footer-top img {
  width: 150px;
}

.footer-content {
  background-color: #3d348b;
  
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Alinha as seções de forma uniforme */
  align-items: center;
  position: relative;
  width: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-right: 10rem;
}

.footer-section p {
  font-size: 0.9rem;
  margin: 0;
  padding-right: 10rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  padding-right: 10rem;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.footer-car {
  height: 100px;
  object-fit: contain;
  pointer-events: none;
}

.footer-bottom {
  text-align: center;
  background-color: #f0f0f0;
  color: #555;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  width: 100%;
}

.footer-bottom p {
  margin: 0;
}

/* Responsividade - Alinha as seções em coluna quando a tela for menor que 768px */
@media (max-width: 968px) {
  .footer-content {
      flex-direction: column; /* Muda o layout para coluna */
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
  }

  .footer-section h3,
  .footer-section p {
      padding-right: 0; /* Remove o padding à direita */
  }

  .footer-section {
      text-align: center;
      width: 100%; /* Faz com que cada seção ocupe 100% da largura */
      padding-right: 0; /* Remove o padding à direita */
  }

  .footer-car {
      width: 200px; /* Ajusta o tamanho da imagem do carro para telas menores */
      height: auto;
      margin-left: 0; /* Centraliza a imagem */
  }

  .social-icons {
      justify-content: center;
      padding-right: 0; /* Remove o padding à direita */
  }
}
