.header-funcionario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    height: 50px;
  }
  
  .menu-funcionario {
    display: flex;
    align-items: center;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
  
  .menu-item:hover {
    color: #373774;
  }
  
  .menu-item img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
  
  button{
    border: none;
    background-color: white;
  }

  @media (max-width: 768px) {
    .header-funcionario {
      display: flex;
      flex-direction: column;
      align-items: center;  /* Centraliza os itens */
      padding: 1rem;  /* Reduz o padding para melhorar o layout em telas menores */
    }
  
    .menu-funcionario {
      display: flex;
      flex-direction: column;
      align-items: center;  /* Centraliza os itens */
    }
  
    .menu-item {
      margin-top: 1rem;
      margin-left: 0;  /* Remove a margem à esquerda */
    }
  }
    