.login-container-esqueci{
    position: absolute; /* Faz o formulário ficar sobre a imagem */
    top: 110%; /* Move o formulário para o meio verticalmente */
    left: 50%;  
    transform: translate(-50%, -50%); /* Centraliza horizontalmente e verticalmente */
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 25rem; /* O formulário se adapta ao tamanho da tela */
    z-index: 10; /* Garante que o formulário fique sobre a imagem */
}



/* Título */
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2rem;
}

/* Grupo de input (email e senha) */
.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

/* Estilização dos campos de input */
input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Link de esqueci minha senha */
.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #0000ee;
  text-decoration: none;
  
}

.forgot-password:hover {
  text-decoration: underline;
  
}

/* Botão de login */
.login-btn {
  padding: 0.75rem 1.5rem;
  background-color: #3d348b;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: #2e2670;
}

/* Link de criação de conta */
.signup-link {
  margin-top: 2rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.signup-link a {
  color: #0000ee;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.back-to-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #0000ee;
    text-decoration: none;
}


/* Responsividade para dispositivos menores */
@media (max-width: 760px) {
  .login-container-esqueci {
    margin: 3rem auto;
    top: 250%;
    width: 70%;
  }

  h1 {
    font-size: 1.8rem;
  }

  input {
    font-size: 0.9rem;
  }

  .login-btn {
    font-size: 0.9rem;
  }
}
