.lista-agendamentos-container {
  width: 80%;
  margin: 2rem auto 11rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-agendamentos {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c256a;
  padding-bottom: 1rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #2c256a;
}

.titulo-lista,
.titulo-lista1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #483da7;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #483da7;
  align-items: center;
}

.botoes-tabelas {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.texto-avaliar {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.texto-avaliar:hover {
  background-color: none;
  cursor: pointer;
}

.botao-avaliar {
  background-color: #3D348B;
  border-radius: 5%;
  padding: 5px 5px;
  cursor: pointer;
}

.botao-avaliar:hover {
  background-color: none;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

.botao-tabela {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid #483da7;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.botao-tabela:hover {
  background-color: #f0f8ff;
}

.botao-tabela.selecionado {
  background-color: #483da7;
  color: white;
  border-color: #483da7;
}

.tabela-agendamentos {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Garante que as colunas ocupem o espaço total da tabela */
  overflow-x: auto; /* Permite rolagem horizontal em telas pequenas */
}

.tabela-agendamentos th,
.tabela-agendamentos td {
  padding: 10px 15px;
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
  width: 20%; /* Garante que cada coluna tenha a mesma largura */
}

.tabela-agendamentos th {
  font-size: 1.2rem;
  font-weight: bold;
  color: #483da7;
}

.tabela-agendamentos tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status-cancelado {
  color: #ff0000; /* Texto vermelho */
  font-weight: bold;
}

.status-pendente {
  color: #ffcc00; /* Texto amarelo escuro */
  font-weight: bold;
}

.status-confirmado {
  color: #3D348B; /* Texto azul */
  font-weight: bold;
}

.status-concluido {
  color: #28a745; /* Texto verde */
  font-weight: bold;
}

/* Responsividade para telas menores */
@media (max-width: 1000px) {
  .lista-agendamentos-container {
      width: 95%;
      padding: 10px;
  }

  .tabela-agendamentos {
      display: block;
      overflow-x: auto; /* Adiciona rolagem horizontal para tabelas em telas menores */
      white-space: nowrap;
  }

  .tabela-agendamentos th,
  .tabela-agendamentos td {
      padding: 8px 10px;
      font-size: 0.9rem;
  }

  .titulo-agendamentos {
      font-size: 1.2rem;
  }
}
