/* Estilos gerais de outros elementos */
.link {
    border: none;
    text-decoration: none;
}

.nav:hover {
    cursor: pointer;
    color: #373774;
}

.login-overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}

.login-overlay:hover {
    cursor: pointer;
    color: #373774;
}

.login-overlay img {
    width: 1.5rem;
    height: auto;
}

.entrar-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.favoritos-overlay, .agenda-overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}

.alinhamento {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.perfil, .favorites, .agenda, .sair-img {
    height: 1.3rem;
    display: inline-block;
    vertical-align: middle;
}

.Sair {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 3.25rem;
    margin: 0 auto;
}

.menu-icon {
    height: 1.8rem;
    width: 1.8rem;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0.5rem 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.user-name:hover {
    cursor: pointer;
    color: #373774;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

span {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border: none;
    text-decoration: none;
}

.user-name {
    cursor: pointer;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1000;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    right: -2.5rem;
    top: 1.5rem;
}

.dropdown span, .dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    font-weight: bold;
}

.entrar-btn:hover {
    color: #373774;
    cursor: pointer;
}

.login-choice-card {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1000;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    transform: translateY(2%);
    transform: translateX(-20%);
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.divisoria {
    margin: 0;
    display: inline; /* A divisória será exibida como inline */
    cursor: default;
}

/* Oculta o .info e .divisoria em telas menores */
@media (max-width: 768px) {
    .info {
        display: none; /* Esconde o menu .info em telas menores */
    }

    .menu-icon {
        display: block; /* Mostra o ícone de menu em telas menores */
    }

    .header {
        padding: 1rem;
        justify-content: center;
    }

    .logo {
        margin: 0 auto;
    }

    .login-choice-card {
        transform: translateY(2%);
        transform: translateX(-23%);
    }

    .info.show {
        display: flex; /* Mostra o menu quando .show é adicionado em telas menores */
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 65px;
        right: 0px;
        background-color: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 1rem;
        z-index: 1000;
    }

    .divisoria {
        display: none; /* Esconde a divisória em telas menores */
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0.5rem;
    }

    .logo {
        height: 2.5rem;
    }

    .info.show {
        top: 50px;
    }

    .login-choice-card {
        transform: translateY(25%);
        transform: translateX(-25%);
        width: 150px;
    }
}
