.card-cliente {
  width: 16rem; /* Define uma largura fixa para os cards */
  height: 20rem; /* Define uma altura fixa para os cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 0.4rem;
  margin: 0.7rem;
  padding: 0rem 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

p {
  margin-bottom: 9px;
}

.nome {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.2rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem; /* Alinha o nome do carro à esquerda */
  width: 100%; /* Faz o elemento ocupar toda a largura disponível */
  color: #373774;
}

.card-title {
  display: flex;
  justify-content: start;
}

.card-subtitle {
  display: flex;
  justify-content: start;
  font-weight: bold;
}

.card-content-cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #373774;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Fixa o botão "Ver mais" na parte inferior do card */
  left: 50%;
  transform: translateX(-50%);
}

.carro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.carro {
  width: 15rem;
  height: 12rem;
  object-fit: contain;
}

/* Estilos para o banner de Aluguel e Venda */
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 5px;
  right: -35px;
}

.banner-item {
  display: flex;
  justify-content: center;
  background-color: #373774; /* Cor de fundo azul */
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.discount-icon {
  position: relative;
  width: 1.5rem;
  top: -5rem;
  right: -13rem;
}

.preco-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.1rem;
  margin-top: 0rem;
  top: -2rem;
}

.preco {
  font-weight: bold;
}

/* Impede que o card mude de tamanho em telas menores */
@media (max-width: 768px) {
  .card-cliente {
    width: 16rem;
    height: 20rem;
  }
}
