/* Estilos do card */
.card-feed {
  width: 100%;
  height: 100%;
  margin: 1rem 1rem 2.5rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #3B3B8F; /* Borda externa azul como na imagem */
  }
  
  .feedback-card-feedback {
    max-width: 18rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  
  .nome-feedback {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
    color: #373774;
  }
  
  .card-title-feedback {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-subtitle-feedback {
    font-weight: bold;
    color: #373774;
    display: flex;
    align-items: center;
  }
  
  .feedback-feedback-comment {
    color: #4c4c4c;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .star-feedback {
    font-size: 1rem;
    color: #d3d3d3;
    margin-right: 3px;
  }
  
  .star-feedback.filled {
    color: #f5c518; /* Cor dourada para estrelas preenchidas */
  }
  