/* add font style para todos os textos bahscrift */
/*   font-family: 'Bahnschrift';
 */
@import url('https://fonts.googleapis.com/css2?family=Bahnschrift&display=swap');

body{
    font-family: 'Bahnschrift';
    background-color: #FFFFFF;
}

p{
    font-family: 'Bahnschrift';
    cursor: default;
}

h3{
    cursor: default;
}

h2{
    cursor: default;
}

h1{
    cursor: default;
}

span{
    cursor: default;
}

html{
    width: 100%;
    background-color: #FFFFFF;
}

#root{
    background-color: #FFFFFF;
}