.informacoes-car-solutions-container {
  padding: 40px;
  background-color: #5050a2;
}

.section {
  max-width: 900px;
  margin: 0 auto 60px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.titulo-animado {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.bloco-conteudo {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.icone-info, .passo-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animação para cada passo */
.passo {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.passo-visible {
  opacity: 1;
  transform: translateX(0);
}

.icone-info img, .passo-info img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.slogan-animado {
  font-size: 20px;
  color: #373774;
  font-weight: bold;
  margin-top: 20px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible .slogan-animado {
  opacity: 1;
  transform: scale(1);
}
