.carros-catalogo-func{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
    width: 100%;
  }

.carros-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top:0rem;
}

.agenda-feedback{
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .carros-catalogo-func{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
    width: 100%;
  }

  .carros-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .agenda-feedback{
    width: 90%;
    margin-right: 0rem;
  }
}