.catalogo-carros-func {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  width: 100%;
}

.catalogo {
  width: 80%;
}

.carros-container {
  background-color: #FFFFFF;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

/* Estilo do campo de input de busca */
.search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  border-color: #373774;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #373774;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #ccccff;
  margin-left: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2d2b81;
}

.button:active {
  background-color: #1e1e7e;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.selected-card {
  border: 2px solid #373774;
  box-shadow: 0 4px 8px #1e1e7e;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.discount-input {
  width: 9rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.discount-options {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  flex-wrap: wrap;
}

.input-discount-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.button:disabled {
  background-color: #cccccc;
  color: #666;
  cursor: not-allowed;
  box-shadow: none;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  width: 23rem;
  height: 12rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-button-delete, .cancel-button-delete {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button-delete {
  background-color: #373774;
  color: white;
  margin-right: 0.3rem;
}

.cancel-button-delete {
  background-color: #b0b0b3;
  color: white;
}

@media (max-width: 1000px) {
  .discount-options {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    .button{
      margin-left: 0rem;
    }
  }
}

@media (max-width: 1068px) {
  .catalogo {
    width: 85%;
  }

  .catalogo-carros-func {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .catalogo-carros-func {
    justify-content: center;
    max-height: 30rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  .actions-container{
    gap: 1rem;
  }

  .destaques{
    margin-left: 3rem;
  }

  .actions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .discount-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
