.carousel {
    position: relative;
    width: 100%;
    height: 600px; /* Ajuste conforme necessário */
    overflow: hidden;
    border-radius: 10px;
  }

  .img-next{
    width: 1rem;
  }

  .img-back{
    width: 1rem;
  }
  
  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease;
    padding: 20px;
  }
  
  .carousel-content {
    position: absolute;
    top:1%;
    right: 5%;
    color: white;
    padding: 25px;
    text-align: center;
    max-width: 60%;
  }
  
  .carousel-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #373774; /* Cor destaque */
  }
  
  .carousel-content p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #373774;
  }
  
  .carousel-price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #373774;
  }
  
  .carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
  }
  
  .carousel-controls button {
    background: white;
    color: black;
    border: 2px solid #e0e0e0; /* Bordas claras para o estilo circular */
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
  }
  
  .carousel-controls button:hover {
    transform: scale(1.1);
    background: #f0f0f0; /* Fundo ligeiramente mais escuro no hover */
  }
  
  /* Personalize a seta com SVG */
  .carousel-controls button::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M8 12h8m-3.5-3.5L16 12l-3.5 3.5" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/%3E%3C/svg%3E');
    mask-size: contain;
    background-color: black;
  }
  
  .carousel-controls button:last-child::before {
    transform: rotate(180deg);
  }
  