/* Configuração básica para o layout da página */
.formulario-aluguel {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

/* Caixa de filtros localizada à esquerda */
.filters-container {
  width: 250px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 2px solid #3d348b;
  border-radius: 8px;
  margin-right: 20px;
  flex-shrink: 0;
}

.checkbox {
  width: 0.8rem;
}

.input-filtro{
  width: 100%;
  padding: 0.1rem 0.75rem;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Estilo das Checkboxes */
.filters-container input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #3d348b; /* Cor da checkbox */
}

/* Estilo para os controles deslizantes (range) */
.filters-container input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  outline: none;
}

.filters-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #3d348b;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* Alinha o thumb ao centro do track */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.filters-container input[type="range"]::-webkit-slider-runnable-track {
  background: #bcbbc7;
  height: 8px;
  border-radius: 5px;
}

.filters-container input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #3d348b;
  border-radius: 50%;
  cursor: pointer;
}

.filters-container input[type="range"]::-moz-range-track {
  background: #e0e0e0;
  height: 8px;
  border-radius: 5px;
}

/* Outros estilos */
.filters-container label {
  display: block;
  font-weight: bold;
  margin: 15px 0 5px;
}

.filters-container input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #2e2670;
  border-radius: 3px;
}

.dividir {
  display: flex;
  align-items: start;
}

.filtrar-btn {
  padding: 0.75rem 1.5rem;
  background-color: #3d348b;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  max-width: 150px;
  margin-top: 1rem;
  align-self: center;
}

.filtrar-btn:hover {
  background-color: #2e2670;
}

@media (max-width: 768px) {
  .dividir {
    flex-direction: column;
  }

  .filters-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .catalogo-carros {
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
