.card {
    height: auto;
    width: 17rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
    margin: 0.7rem 0.4rem;
    padding: 0rem 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Para que o banner seja posicionado dentro do card */
  }
  
  p {
    margin-bottom: 9px;
  }
  
  .nome {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.2rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    color: #373774;
  }
  
  .card-title {
    display: flex;
    justify-content: start;
  }
  
  .delete-img{
    width: 1.2rem;
    object-fit: contain;
    cursor: pointer;    
  }

  .edit-img{
      width: 1.2rem;
      object-fit: contain;
      cursor: pointer;    
  }

  .card-subtitle {
    display: flex;
    justify-content: start;
    font-weight: bold;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #4c4c4c;
    height: 20%;
    font-weight: bold;
  }
  
  .carro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  
  .carro {
    width: 15rem;
    height: 12rem;
    object-fit: contain;
  }
  
  /* Estilos para o banner de Aluguel e Venda */
  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 5px;
    right: -35px;
  }
  
  .banner-item {
    display: flex;
    justify-content: center;
    background-color: #373774; /* Cor de fundo azul */
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
  }

  .action-button-edit{
    background-color: #454596;
    color: white;
    border-radius: 100%;
    padding: 0.4rem 0.8em;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem;

  }
  .action-button-delete{
    background-color: #454596;
    color: white;
    border-radius: 50%;
    padding: 0.4rem 0.8em;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem;

  }
  
  .action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.select-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    position: absolute  ;
    top: 14rem;
    right: -0.5rem;
}

.remove-discount-button{
  position:absolute;
  top: 6.8rem;
  right: 1rem;
  background-color: red;
  color: white;
  border-radius: 5rem 5rem 5rem 5rem;
  font-size: 0.6rem;
  padding: 0.1rem 0.3rem;

}

.remove-discount-button:hover{
  background-color: #4c4c4c;
}

.discount-icon-func{
  position: absolute;
  width: 1.5rem;
  top: 7rem;
  right: 1.5rem;
}