.anuncio-carro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 2rem;
    background-color: #FFFFFF;
    width: 100%;
}

.quadro-imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    margin-top: 3rem;
    height: 560px;
    width: auto;
    max-height: 560px;
}

.titulo-carro-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.form-agendamento{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.preco-aluguel-total{
    font-size: 1.5rem;
    text-decoration: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinha os itens de forma uniforme */
    height: 100%; /* Garante que a altura dos elementos seja uniforme */
    margin-left: 2rem;
    width: 28rem;
    margin-top: 3rem;
}


.botao-aluguel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    background-color: #2B2B68;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 0 0.2rem 0.5rem #2B2B68;
}

.fechar{
    height: 1rem;
    width: 1.5rem;
}

.fechar:hover {
    cursor: pointer;
}

.botao-venda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    background-color: #141439;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 0.2rem 0.5rem #141439;
} 

button{
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
}

.texto-aluguel{
    font-size: 1.5rem;
    text-decoration: bold;
    color: white;
}

.quilometragem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.preco-aluguel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
}

.preco-venda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
}

.texto-venda{
    font-size: 1.5rem;
    text-decoration: bold;
    color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: white;
    padding: 3rem;
    border-radius: 0.7rem;
    text-align: center;
    width: 30rem;
    min-height: 35rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .popup-content p{
    font-size: 1.2rem;
    margin-top: 4rem;
    font-weight: lighter;
  }
  
  .blurred {
    filter: blur(4px);
  }
  

  .sucesso{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  
  .info-aluguel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.05rem;
    margin: 1rem;
    text-align: center;
    background-color: rgb(220, 221, 221);
    padding: 0.5rem;
    border-radius: 1rem;

  }

  .preco-total-aluguel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 1rem;
    margin: 0.2rem;
    text-align: center;
    background-color: rgb(220, 221, 221);
    padding: 0.2rem;
    border-radius: 1rem;

  }

  .preco-total-aluguel1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 0.05rem;
    margin: 0.2rem;
    text-align: center;
    background-color: rgb(220, 221, 221);
    padding: 0.2rem;
    border-radius: 1rem;

  }


  .preco-total-venda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.05rem;
    margin: 0.2rem;
    text-align: center;
    background-color: rgb(220, 221, 221);
    padding: 0.5rem;
    border-radius: 1rem;

  }


  .preco-venda1{
    font-weight: bold;
    font-size: 1.3rem;
  }

  .botao-retornar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    background-color: #2B2B68;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 0 0.2rem 0.5rem #2B2B68;
    }
    
  .data-cvv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .retirada{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    align-items: end;
  }

  .devolucao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    align-items: end;
    }



    .salvar-cartao{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        height: 1.5rem;
    }

    .input-save{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        align-items: flex-start;
        width: 20%;    
    }

    .botao-back{
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 1rem;
        color: #2B2B68;
    }

    .erro{
        color: red;
        font-size: 1rem;
        font-weight: bold;
    }

@media (max-width: 1258px){
    .anuncio-carro{
        display: flex;
        flex-direction: column;
    }
    .quadro-imagem{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .infos{
        margin-bottom: 1rem;
        width: 100%;
        padding: 2rem;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 680px){
    .quadro-imagem{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}